# --- Core Sphinx & Python Constraints ---
sphinx==7.1.2; python_version=="3.8"
sphinx==7.2.6; python_version>"3.8"

# --- Dependencies with Version Locks ---
# Docutils pinned to <0.19 for legacy bullet point rendering stability
docutils<0.19
sphinx-tabs==3.*
requests>=2.31.0
beautifulsoup4
lxml

# --- Install Local Submodule Theme  ---
-e ./common/source/_themes/matrixhawk_sphinx_rtd_theme

# --- Plugins ---
git+https://github.com/ArduPilot/sphinxcontrib-youtube.git


sphinxcontrib-jquery

# --- Linting ---
flake8==3.7.9
